.darkTheme {
  --background-color: #555555;

  --border-light-color: #777777;
  --border-dark-color: #333333;
  
  --opacity: 0.8;
  
  --numbers-panel-background: #000;
  --seven-segment-color: 255, 0, 0;

  --reveal-lose-background: #ff3333;

  --text-color: #FFFFFF;

  --help-color: 204, 204, 204;
}
